/* Inizio regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: black;
}

li {
    list-style: none;
}
/* Fine regole generali */

/* Inizio regole header */
.speaker-view {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 50px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.speaker-view i {
    padding: 7px;
    background-color: grey;
    border-radius: 5px;
    margin: 10px 10px 0 0;
    font-size: 12px;
}

.speaker-view span {
    margin-left: 5px;
    font-weight: 200;
}
/* Fine regole header */

/* Inizio regole main */
.container {
    width: 90%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.zoom-person {
    position: relative;
    object-fit: contain;
    width: 250px;
    height: 150px;
    margin: 0 10px 20px;
}

.name-person {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: grey;
    padding: 5px;
    font-size: 12px;
}
 
.name-person span {
    margin-left: 5px;
    font-weight: 200;
}

/* Fine regole main */

/* Inizio regole footer */
footer nav {
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(36, 35, 35);
    z-index: 999;
    overflow-x: auto;
}

footer nav div ul {
    display: flex;
    align-items: center;
}

footer li {
    display: flex;
    flex-direction: column;
    min-width: 70px; 
}

footer li div {
    justify-content: center;
    display: flex;
}

.icon-footer {
    margin-bottom: 5px;
}

.title-footer, .right-footer {
    font-size: 12px;
}

.right-footer {
    background-color: rgb(92, 91, 91);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.right-footer span {
    color: red;
    font-weight: 700;
}

footer nav ul .chevron {
    min-width: 5px;
}

footer nav ul .chevron.chevron-center {
    margin-left: 10px;
}

footer nav ul .chevron.chevron-first {
    margin-left: -10px;
    margin-right: 5px;
}

li .fa-chevron-up {
    font-size: 10px;
}

.fa-share-square {
    color: rgb(2, 168, 2);
}
/* Fine regole footer */
