/* Inizio regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}
/* Fine regole generali */

/* Inizio regole header */
.speaker-view {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 50px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
}

.speaker-view i {
    padding: 7px;
    background-color: grey;
    color: white;
    border-radius: 5px;
    margin: 10px 10px 0 0;
    font-size: 12px;
}

.speaker-view span {
    margin-left: 5px;
    font-family: Helvetica, sans-serif;
    font-weight: 200;
}
/* Fine regole header */

/* Inizio regole main */
.container {
    width: 90%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.zoom-person {
    position: relative;
    object-fit: contain;
    width: 250px;
    height: 150px;
}

.name-person {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: grey;
    padding: 5px;
    color: white;
    font-size: 12px;
}
 
.name-person span {
    margin-left: 5px;
    font-family: Helvetica, sans-serif;
    font-weight: 200;
}

/* Fine regole main */



/* Inizio regole footer */
/* Fine regole footer */
